.container {
  margin-bottom: 10px; 
}

html {
	scroll-behavior: smooth; 
	color:#000;
	background:#FFF;
}

body { 
	font: 13px/1.231 Georgia;
	color: #444; 
	text-align:center;
}

textarea {
	font-family: Times New Romance;
	font-size: 20px;
}

.clear {
	clear: both; 
}

.button {
	background-color: #1976d2;
	color: white;
	border-radius: 5px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	border: 2px solid #1976d2;
	padding: 10px 20px;
	font-size: 20px; 
}

	.button:hover {
		background-color: blue;
		color: white; 
	}
	
	.button:active, .button:focus {
		box-shadow: none !important;
		outline: none !important;
		background-color: blue; 
	}

.btnDatVe {
	width: 100%; 
}

.btnSend {
	background-color: #1976d2;
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	border: 2px solid #1976d2;
	width: 100%; 
}

	.btnSend:hover {
		color: #1976d2;
		background: white;
		box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); 
	}

.navbar {
	padding: 10px;
	background-color: white !important; 
}

	.navbar .nav-item {
		padding: 0 10px;
		display: flex;
		align-items: center; 
	}
	
		.navbar .nav-item .nav-link {
			font-weight: bold;
			font-size: 18px;
			padding: 0px 10px; 
		}
		
		.navbar .nav-item:hover .nav-link {
			color: blue; 
		}
		
	.navbar .nav-item:nth-child(4) {
		border-right: 1px solid black; 
	}
	
		.navbar .nav-item:nth-child(5) .nav-link {
			color: #1976d2; 
		}
		
	@media screen and (max-width: 768px) {
		.navbar .nav-item {
			text-align: center;
			margin: 10px 0; 
		}
		
			.navbar .nav-item .nav-link {
				width: 100%; 
			}
			
				.navbar .nav-item .nav-link .button {
					width: 100%; 
				}
				
		.navbar .nav-item:nth-child(4) {
			border-right: 0px solid black; 
		} 
	}

footer {
	width: 100%;
	background: #0f141f !important;
	color: white;
	padding: 20px; 
}
	footer p {
		font-size: 20px;
		color: white;
		letter-spacing: 1px;
		font-weight: bold; 
	}
		
	footer .socical_network {
		display: flex;
		justify-content: center; 
	}
	
		footer .socical_network .social {
			width: 50px;
			height: 50px;
			margin: 10px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%; 
		}
		
			footer .socical_network .social i {
				font-size: 20px; 
			}
			
		footer .socical_network .social:hover {
			background-color: white !important; 
		}
		
		footer .socical_network .social:nth-child(1) {
			background-color: #537bc0; 
		}
			
			footer .socical_network .social:nth-child(1):hover path {
				color: #537bc0 !important; 
			}
			
		footer .socical_network .social:nth-child(2) {
			background-color: #1da1f2; 
		}
		
			footer .socical_network .social:nth-child(2):hover path {
				color: #1da1f2 !important; 
			}
			
		footer .socical_network .social:nth-child(3) {
			background-color: #0077b5; 
		}
			
	        footer .socical_network .social:nth-child(3):hover svg {
	          	color: #0077b5 !important; 
			}
		  
  	footer h5 {
	    color: #3d4047;
	    font-size: 14px;
	    font-weight: 600;
	    letter-spacing: 2.2px;
	    line-height: 20px;
	    text-transform: uppercase;
	    margin-bottom: 8px;
	    position: relative;
	    pointer-events: none; 
	}
	
  	footer .Content .item {
    	padding: 5px 0; 
	}
	
    	footer .Content .item a {
	      color: white;
	      font-size: 14px;
	      font-weight: bold; 
	  	}
	  
      	footer .Content .item a:hover {
	        text-decoration: none;
	        color: white; 
		}
		
  	footer .row {
	    display: flex;
	    justify-content: center; 
	}

.home-hero-container {
	padding: 60px 0 0;
	justify-content: space-between;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:10px;
}

.home-hero-main {
	width: 100%;
	display: flex;
	align-items: center;
}

.home-hero-maincontent {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-height: 700px;
	overflow: hidden;
}

.home-hero-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 46px;
	line-height: 48px;
	color: #2196f3;
	margin-bottom: 20px;
	max-width: 800px;
	text-align: center;
}

.home-hero-subtitle {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 32px;
	text-align: center;
	max-width: 600px;
}

.home-hero-counter {
	margin-top: 20px;
	display: flex;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 16px;
	padding-left: 18px;
	position: relative;
}

.home-hero-resume {
	background-image: url(https://cdn.resume.io/assets/landing/home/hero-resume-063a5dd2cf40856211a0ee2ddc232af6dc3b5804c25c23e627ae2f8637909939.png);
}

.hero-resume-image {
	margin-top: 40px;
}

#formCV{
	background:#FFF;
	font: 13px/1.231 Georgia;
	color: #444; 
	text-align:center;
}

#doc{
	margin:auto;
	text-align:left;
	width:73.076em;
}

	#doc h1,#doc h2,#doc h3 {
		font-weight:normal;
		color: #333; 
	}

	#doc #yui-main .yui-b{
		display:block;
		margin:0 0 1em 0;
		float:none;
		width:auto;
	}

#inner { 
	padding: 10px 80px; 
	margin: 80px auto; 
	background: #f5f5f5; 
	border: solid #666; 
	border-width: 8px 0 2px 0; 
}

.yui-gf { 
	margin-bottom: 2em; 
	padding-bottom: 2em; 
	border-bottom: 1px solid #ccc; 
}

.yui-gc .yui-u,.yui-gf .yui-u{
	float:right;
}

.yui-gc div.first,.yui-gf div.first{
	float:left;
}

.yui-gc div.first{
	width:70%;
	margin-left:0;
}

.yui-gc .yui-u{
	width:28%;
	margin-left:1.99%;
}
	
	.yui-gc .yui-u h3{
		text-align: right;
		font-size: 122%; 
	}

.yui-gf div.first{
	width:12.3%;
}

.yui-gf .yui-u{
	width:80.2%;
}

	.yui-gf .yui-u h2 { 
		font-size: 152%;
	}
	
#hd { 
	margin: 2.5em 0 3em 0; 
	padding-bottom: 1.5em; 
	border-bottom: 1px solid #ccc; 
}

	#hd h1 { 
		font-size: 24px; 
		text-transform: uppercase; 
		letter-spacing: 3px; 
	}

		#hd h1 input { 
		width: 70%;
		font-size: 24px; 
		text-transform: uppercase; 
		letter-spacing: 3px;
	}
	
	#hd h2 { 
		text-transform: uppercase; 
		letter-spacing: 2px; 
	}

		#hd h2 input{ 
			width: 70%;
			font-size: 19.766px;
			text-transform: uppercase; 
			font-style: italic; 
			letter-spacing: 2px;
		}

		#hd h3 input { 
			font: 13px/1.231 Georgia;
			text-align: right;
		}
	
	#hd:after,#bd:after,.yui-gf:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}

	#doc #inner input:disabled, #doc #inner textarea:disabled {
		background-color: #f5f5f5;
		background: none;
	}

#doc #inner textarea {
	font-size: 16.9px;
	line-height: 24px; 
	resize: none;
}

#bd{ 
	margin-bottom: 2em; 
}

.contact-info { 
	margin-top: 7px; 
	font-size: 80%;
}

.enlarge { 
	font-size: 130%; 
	line-height: 24px; 
}

#bd { 
	margin-bottom: 2em; 
}

.delete_border {
	border: none;
}

#CV_image {
	border-style: ridge;
	max-width: 120px;
	max-height: 140px;
	float: left;
	margin: 1em;
}

#inputCV_processBar{
	margin: 10px auto;
	width: 73.076em;
}

	#inputCV_processBar span{
		font-size: 18px;
	}

.small_icon{
	width: 30px;
	height: 30px;
	vertical-align: sub; /*middle*/	
}

.first h2 { 
	font-style: italic; 
}

#Register {
  	font-family: sans-serif;
  	font-size: 10px;
  	padding: 20px;
}
#RegisterForm {

  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
#RegisterForm h2 {
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #666666;
  border-bottom: solid 1px #e5e5e5;
}
#RegisterForm p {
  margin: 0 0 3em 0;
  position: relative;
}
#RegisterForm input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
#RegisterForm input[type="text"],
#RegisterForm input[type="password"] {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 2px;
}
#RegisterForm input[type="text"]:focus,
#RegisterForm input[type="password"]:focus {
  background: #fff;
}
#RegisterForm span {
  display: block;
  background: #F9A5A5;
  padding: 2px 5px;
  color: #666;
}
#RegisterForm input[type="submit"] {
  background: rgba(148, 186, 101, 0.7);
  box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #68B25B;
}
#RegisterForm input[type="submit"]:hover {
  background: #94af65;
  text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}
#RegisterForm label {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;

  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}
#RegisterForm label.floatLabel {
  top: -11px;
  font-size: 14px;
}

.caution{
	position: absolute;
	top: 5px;
	left: 40%;
	z-index: 99;
}
.message{
	position: absolute;
	top: 25px;
	left: 40%;
	z-index: 99;
}

#Login_form{
  	font-family: sans-serif;
	font-size: 20px;
	margin: 25px 0px 75px 0px;
}
.log-form {
	margin: 0 auto;
	width: 40%;
	min-width: 320px;
	max-width: 475px;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #eaeaea;
  font-family: sans-serif;
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
}
.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
.log-form input:focus {
  outline: none;
}
.log-form .btn_login {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.log-form .btn_login:hover {
  background: #23cad5;
}
.log-form .btn_login:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.log-form .btn_login:focus {
  outline: none;
}

.text-large {
  font-size: 150%;
}

.view-cv-image{
	width: 40em;
	height: 32em;
}
.view-cv-image-vertical{
	width: 24em;
	height: 32em;
}

.about-main-cotent {
	width: 100%;
	padding: 50px 0; 
}
.about-main-cotent .title {
	padding-left: 50px;
	margin-bottom: 50px; 
}
.about-main-cotent .title p {
	color: grey;
	font-weight: 600;
	letter-spacing: 2px; 
}
.about-main-cotent .title h5 {
	font-size: 32px;
	font-weight: 400 !important; 
}
.about-main-cotent .title h5 .subtitle {
	font-size: 32px;
	color: #2196f3;
	font-weight: 600; 
}
.about-main-cotent .img {
	  margin-bottom: 50px; 
}
.about-main-cotent .img img {
	width: 100%; 
}